@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}
body{
height: 100vh;
/* display: flex;
justify-content: center;
align-items: center; */
background-image: url(./back);
background-size: cover;
background-position: center;
}

.main{
    display: flex;
    align-items: center;
}
.main .upper{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    padding: 50px 30px;
}

.upper a{
   
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* ------------------------------------------------- */

#profile {
    align-items: center;
    position: absolute;
    align-items: center;
    margin-top: 50%;
    margin-left: 15%;
    width: 70%;
   height: 70%;
}


#profile #profilePhoto{
   border-radius: 10px;
   -webkit-box-shadow: 19px 16px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 19px 16px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 19px 16px 32px -5px rgba(0,0,0,0.75);
    height: 70%;
    width: 35%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile h2{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 60%;
}

#resume {
    position: absolute;
    margin-top: 25%;
    margin-left: 65%;
}

#resume h2{
    margin-bottom: 15px;
}

#links {
    position: absolute;
    align-items: center;
    margin-top: 62%;
    margin-left: 65%;
    width: 30%;
    flex-direction: column; /* Set flex-direction to column */
}


#links a {
    margin-top: 40px;
    display: block; /* Change from inline-block to block */
    margin-bottom: 10px; /* Add margin-bottom for spacing between links */
    text-decoration: none;
    color: blue;
    width: 100px;
}
