@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}
body{
height: 100vh;
/* display: flex;
justify-content: center;
align-items: center; */
background-image: url(./back);
background-size: cover;
background-position: center;
}

.main{
    display: flex;
    align-items: center;
}
.main .upper{
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    padding: 50px 30px;
}

.upper a{
   
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* ------------------------------------------------- */

#driveForm{
    
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    margin-left: 25%;
    width: 50%;
}

#driveTable{
    position: absolute;
    top: 10px; 

}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #dc3545; /* Bootstrap red color, you can change it */
    color: #fff; /* White text color */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}