{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dash.css' %}">
</head>
<body>
    <div class="main">
        <div class="upper">
                    <a href="{% url 'dtroy jobs'%}">HOME</a>
                    <a href="{% url 'register'%}">REGISTER</a>
                    <a href="{% url 'scheduler' %}">SCHEDULER</a>
                    <a href="{% url 'profile' %}">PROFILE</a>
        </div>
        
        <div class="lower">
          <h2 style="margin-bottom: 70%; position: absolute;">Reminder : </h2>
            <a class="card1" href="{% url 'scheduler' %}">
              <p>{{ scheduled_company_name }}</p>
                <p class="small">Details about drive</p>
                <div class="go-corner">
                  <div class="go-arrow">
                    →
                  </div>
                </div>
              </a>
        </div>
    </div>
</body>
</html>
