{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styleprofile.css' %}">
</head>
<body>
    <div class="main">
        <div class="upper">
            <a href="{% url 'dtroy jobs'%}">HOME</a>
            <a href="{% url 'register'%}">REGISTER</a>
            <a href="{% url 'scheduler' %}">SCHEDULER</a>
            <a href="{% url 'profile' %}">PROFILE</a>
        </div>
        <div id="profile">
            <img src="../static/box.png" alt="Profile Photo" id="profilePhoto">
            <h2>Name: Pratik Shelar</h2>   
        </div>
    
        <div id="resume">
            <h2>Resume</h2>
            <ul>
                {% for resume in resumes %}
                     <a style="text-decoration: none;"
                        href="{{ resume.file.url }}" download="{{ resume.file.name }}">
                            Pratik's Resume
                    
                        </a>
                    
                {% endfor %}
            </ul>
        </div>
        

        <div id="links">
            <h2>Links</h2>
            <a href="https://www.linkedin.com/in/pratik-shelar-1999p11/" target="_blank">LinkedIn</a>
            <a href="https://github.com/PratikShelar23" target="_blank">GitHub</a>
            <a href="mailto:shelarpratik549+jobs@gmail.com">Email</a>
        </div>
    </div>

<!-- <script src="profile.js"></script> -->
</body>
</html>